$font-family: Roboto, sans-serif;
$background-color: #f5f6fa;
$primary-color: #182C61;
$secondary-color: #44bd32;
$secondary-color-hover: #4cd137;
$container-max-width: 1024px;
$container-padding: 16px;
$menu-item-margin-left: 24px;
$product-grid-columns: repeat(3, 32.66%);
$product-grid-column-gap: 1%;
$product-grid-row-gap: 4%;
$product-button-border-radius: 8px;
$product-button-margin-top: 8px;
